src/main/resources/META-INF/xsd/PGI-AE-v-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1">
    <xs:element name="PGI">
        <xs:complexType>
            <xs:sequence>
                <!-- Transmission Header -->
                <xs:element name="Transmission-Header" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Country-Code">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Plant-Code">
                                <!-- 489	E1EDL24	WERKS -->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- Transmission Header Ends Here -->
                <xs:element name="Pick-Qualifier">
                    <!-- 419	E1EDL18	QUALF -->
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="IDOC-Qualifier">
                    <!-- 421	E1EDL19	QUALF -->
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Delivery-Number">
                    <!-- 423	E1EDL20	VBELN -->
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="10"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Delivery-Item" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SD-Item-Num">
                                <!-- 481	E1EDL24	POSNR -->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Material-Num">
                                <!-- 482	E1EDL24	MATNR -->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="18"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Plant-Code">
                                <!-- E1EDL24	WERKS-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Actual-Quantity-Delivered">
                                <!-- 493	E1EDL24	LFIMG -->
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Gross-Weight">
                                <!-- 498	E1EDL24	BRGEW -->
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Net-Weight">
                                <!-- 497	E1EDL24	NTGEW -->
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="IDOC-Qualifier-Delivery-Date">
                    <!-- 854	E1EDT13	QUALF -->
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Posting-Date">
                    <!-- 859	E1EDT13	NTEND -->
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="8"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Posting-Time">
                    <!-- 860	E1EDT13	NTENZ -->
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="6"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
